body{
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    font-family: georgia;
    color: #fa0303;
    background-size: 100%;
}

.alto{
    text-align: center;
    
    margin-top: 90px;
    font-family: Geneva;
    font-size: x-large;
}

.container{
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 900px;
    margin-top: 60px;
}

.carrossel{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 40s infinite forwards linear;
}

.imagem{
    position: absolute;
    width: 290px;
    height: 187px;
    top: 40px;
    left: 40px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
    border-radius: 10px;

}

.imagem span{
    margin: auto;
    font-size: 1em;
}

@keyframes rotate360{
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.imagem:nth-child(1){
    background-image: url(https://www.stockvault.net/data/2017/10/30/240088/preview16.jpg);
    transform: rotateY(0deg) translateZ(430px);
}

.imagem:nth-child(2){
    background-image: url(https://www.stockvault.net/data/2013/08/21/147333/preview16.jpg);
    transform: rotateY(40deg) translateZ(430px);
}

.imagem:nth-child(3){
    background-image: url(https://www.stockvault.net/data/2021/01/06/282228/preview16.jpg);
    transform: rotateY(80deg) translateZ(430px);
}

.imagem:nth-child(4){
    background-image: url(https://www.stockvault.net/data/2013/12/14/151666/preview16.jpg);
    transform: rotateY(120deg) translateZ(430px);
}

.imagem:nth-child(5){
    background-image: url(https://www.stockvault.net/data/2015/02/02/167278/preview16.jpg);
    transform: rotateY(160deg) translateZ(430px);
}

.imagem:nth-child(6){
    background-image: url(https://www.stockvault.net/data/2014/10/22/163619/preview16.jpg);
    transform: rotateY(200deg) translateZ(430px);
}

.imagem:nth-child(7){
    background-image: url(https://www.stockvault.net/data/2016/11/17/215958/preview16.jpg);
    transform: rotateY(240deg) translateZ(430px);
}

.imagem:nth-child(8){
    background-image: url(https://www.stockvault.net/data/2017/09/24/239398/preview16.jpg);
    transform: rotateY(280deg) translateZ(430px);
}

.imagem:nth-child(9){
    background-image: url(https://www.stockvault.net/data/2018/10/21/255694/preview16.jpg);
    transform: rotateY(320deg) translateZ(430px);
}

.imagem:nth-child(10){
    background-image: url(https://www.stockvault.net/data/2013/09/28/148258/preview16.jpg);
    transform: rotateY(360deg) translateZ(430px);
}


.baixo{
    text-align: center;
    margin-top: 700px;
    background: #8080801e;
    color: #ffffff;
    font-size: 25px;
    
}



